body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
table{
	margin-left: 10px;
	width: 600px;
	background: #f2f2f2;
	border-collapse: collapse;
}
td, th{
	padding: 7px;
}
th{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-transform: uppercase;
	text-align: left;
	font-size: 90%;
	letter-spacing: 4px;
}
tr:hover{
	background-color: #e6f5f4 !important;
}
tr.alterna{
	background-color: #f7f7f7;
}
.direita{
	text-align: right;
}